.front {
    display: flex;
    gap: 50px;
    margin-left: 50px;
    margin-top: 120px;
}

.take-input {
    width: 300px;
}

.login {
    width: 308px;
    background-color: rgba(0, 0, 255, 0.721);
    color: white;
    height: 25px;
    font-weight: bold;
    border-radius: 3px;
}

.box {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.167);
}

.account {
    color: white;
    background-color: rgba(10, 138, 10, 0.612);
    font-weight: bold;
    padding: 3px;
    border-radius: 3px;
}